<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 控制台输出 -->
    <appender name="LOGCAT" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} %L - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="top.potens.jnet"  level="TRACE" />
    <logger name="top.potens.teleport"  level="TRACE" />

    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="LOGCAT" />
    </root>
</configuration>